body {
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height: 90%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
   // text-shadow: -1px -1px 1px #d4d4d4, 1px 1px 1px #999;
    color: #27a7df;
 //   opacity: 0.5;
    font: 80px 'Open Sans', sans-serif;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 40px;
}


/* common */

body {
   background-color:  rgb(240, 240, 240);
   margin-top: 50px;
}

.focus {
    border: 1px solid #cc3;
    border-radius: 10px;
    border-style: dashed;
    padding: 0px;
}

#main {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-right:auto;
    margin-left:auto;
    position:relative;
}

/* Containers class  */
.s1x1, .s2x2, .s4x2, .s4x4, .s6x4 {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 4px 4px 10px #444444;
    border-radius: 0px;
    overflow: hidden;
    position: relative;
    border: 2px;
}

.s1x1 {
    width: 120px;
    height: 120px;
}
.s2x2 {
    width: 260px;
    height: 260px;
}

.s4x2 {
    width: 560px;
    height: 260px;
}

.s4x4 {
    width: 560px;
    height: 560px;
}

.s6x4 {
    width: 860px;
    height: 560px;
}

/* Containers */
#container_name {
    text-align: left;
    display: block;
    vertical-align:middle;
    font-weight:bold;
    font-family: 'Open Sans';
    font-size: 17px;
    border-bottom: 1px solid #27a7df;
    margin-bottom: 10px;
}

input[type=range] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 2px #333;
    height: 4px;
    width: 60px;
    border: 0px solid #bdc3c7;
    background-color: #27a7df;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: inset 0 0 10px rgba(1,000,1,0.5);
    border: 1px solid #999;
    height: 15px;
    width: 15px;
}

output {
    font-size: 12px;  
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: middle;
    font-weight:bold;
    border: 1px solid ;
    border-radius: 5px;
    display: inline-block;
    color: gray;  
    float: left;
}

/* controls */
#controls {
    display: inline-block;
    position:absolute;                  /* added */
    bottom: 0;                           /* added */
    right: 0px;
}

#control {
    width: 100%;
    display: inline-block;
    padding : 0;
    margin-bottom: 5px;  
}

#control_name {
    display: inline-block; 
    float:left;
    text-align: left;
    vertical-align:middle;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#control_cmd {
    vertical-align:middle;
    float:right;
}

/* peripheral */
.peripheral {
    display: inline-block;
    position:absolute;                  /* added */
    bottom:0;                           /* added */
    left: 0;
}

#control.peripheral{
    display: inline-block;
    position:relative;            
    padding: 0;
    padding-bottom: 0px;
    padding-top: 8px;
}

#control_cmd.peripheral {
    float: left;
    position:relative;            

    display: inline-block;
}

input.peripheral {
    float: right;
    position:relative;            
    display: inline-block;
}


/* system */

#cpu, #ram {
    width: 100%;
    height: 50px;
    float: left;
    display: block;
    padding-top: 15px;
    text-align:center;
    vertical-align:middle;
}

#system_name {
    float:left;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position:relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 7px;
}

canvas#system_cpu, canvas#system_ram {
    float:right;
}



/* history */
#history {
    display: inline-block;   
    bottom: 0;
    
}

#control[name=history] {
    display: inline-block;
    width: 25%;
}

input[name=history] {
    float: right;  
}

#realtimeflot {
    width: 100%;
    display: inline-block;
    font: 12px 'Open Sans', sans-serif;
}

/* lighting */

#lighting_livingroom {
    display: inline-block;
}

/* canvas */
.canvas {
   display: inline-block;
}


/* Carousel */
.jcarousel-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    margin-right:auto;
    margin-left:auto;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/* Carousel Controls */

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: -5px;
}

.jcarousel-control-next {
    right: -5px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;

}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 8px;
    width: 8px;
    line-height: 8px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;

    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #27a7df;

    color: #ff00ff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

/* footer */

p#footer{ 
    font: 10px 'Open Sans'
    text-align:left;
    color:blue;
    font-style:italic;
}

